@import url("./_topnav.css");
@import url("./_starter.css");
@import url("./_team-crew.css");
@import url("./_values.css");
@import url("./_work.css");
@import url("./_investors.css");
@import url("./_press.css");
@import url("./_global.css");
@import url("./_mailbox.css");
@import url("./_footer.css");
@font-face {
    font-family: Tiampos ;
    src: url("/assets/font/KFOmCnqEu92Fr1Mu4mxK.woff2"), format("woff2");
}
body{
    font-family: Tiampos ;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul.ol,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
:root{
    --btn-color:rgb(81, 0, 128);
}
.title{
    font-size: 3rem !important; 
    color: #000;
}
.description{
    font-size: 1.75rem !important;
    line-height: 50px;
    color: rgb(174, 174, 174);
}
