@import url("./_topnav.css");
@import url("./_starter.css");
@import url("./_team-crew.css");
@import url("./_values.css");
@import url("./_work.css");
@font-face {
    font-family: Tiampos ;
    src: url("/assets/font/KFOmCnqEu92Fr1Mu4mxK.woff2"), format("woff2");
}
body{
    font-family: Tiampos ;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul.ol,li{
    list-style: none;
    padding: 0;
    margin: 0;
}